html,body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:'Lobster', cursive;
}
 body{
   /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); ; 
    background-repeat: no-repeat;
     background-position: cover; 
    background-size:cover ; */
     background:#2a2a2a;
    width:100%;
} 
header h1{
  color:#FFF; 
  font-size:50px;
  text-align: center;
  margin-bottom:5px;
  
}
 /* main{
 
  max-width:100vh;
}  */
section{
 
  padding:10px;
  display:grid;
  place-items:center;
}
.Search{
  
  width:80%;
  padding:13px;
  border:none;
  outline:none;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 2em;
  font-size: 20px;
  font-weight: 300;
  transition: 0.4s ease-in;

}
.Search:focus {
  box-shadow:0px 0px 7px 4px #3c00ff;
}
.card{
  border-radius: 1em;
  background:rgba(0,0,0,0.4);
  width: 70%;
  height: 75%;
  box-shadow: 4px 3px 8px #3e01ff;
  transition: 0.4s ease-in;
 
}
.card:hover{
  background:#3e01ff;
  box-shadow: none;
  transform:scale(1.07);

}
.card2{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width:100%;
  height: 80%;
}
.container{
  padding:2px;
  width:100%;
  height: 20%;
  color:white

}
.cardsframe{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items:center;
 
  margin:auto;
}
.container h4{
  text-align: center;
  font-size:21px;
  margin:0;
}
.popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: black;
  overflow-y:scroll;
  
}
.popup .content{
  display:block;
  width:100%;
  padding: 20px;
  color:white;
  letter-spacing: 2px;
}
.popup .content h2{
  font-size:28px;
 
  margin-left:4%;
}
.popup .content h2 span{
  font-size:20px;

} 
.popup .content .rating{
  margin-bottom:30px;
  margin-left:4%;
}
.popup .content .plot{
  display:grid;
  grid-template-columns: 0.5fr 1fr;
} 
.popup .content .plot .plot1{
  width: 72%;
  height: 100%;
  padding: 0 2em;
  padding-left: 2em;
}
 .popup .content .plot img{
  height:100%;
  width:100%;
  
} 
.popup .content .plot p{
  flex:1 1 50%;

}
h3{
  font-size:23px;
}
h3 span{
  margin-left:3px;
  font-size:20px;
}
.popup .content .close{
  /* display: inline-block; */
  padding: 0.5em 1em;
  font-size:20px;
  background:#3e01ff;
  color:#FFF;
  border-radius:8px;
  border:none;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: 0.5s ease-in;
  margin-left: 50%;
  font-family:'Lobster', cursive;
  letter-spacing: 2px;

  
}
.popup .content .close:hover{
  background-color: #252e36;
}
@media (max-width:1050px)
{
  .container h4{
    font-size:17px;
  }
}
@media (max-width:1000px)
{
  .container h4{
    font-size:15px;
  }
}
@media (max-width:750px)
{
  .cardsframe{
    display:grid;
    grid-template-columns:1fr 1fr;
}
  .container h4{
    font-size:16px;
  }
  .popup .content h2 span{
    font-size:16px;
  
  } 
  .popup .content .plot{
    display:block;}
    .popup .content .plot .plot1{
      width: 45%;
      height: 100%;}
      .popup .content .close{
        margin:1em;
        padding: 0.5em 1em;
       }
       h3{
        font-size:21px;
      }
      h3 span{
        margin-left:3px;
        font-size:19px;}
}
@media (max-width:650px)
{
  .cardsframe{
    display:grid;
    grid-template-columns:1fr;
}
.container h4{
  font-size:26px;
}
}
